*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: #222222;
}

#button div {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#button  div button{
  height: 100px;
  width: 100px;
}

.table-bordered {
    margin-top: 20px;
    border-radius: 10px;
}
footer {
    clear: both;
    width: 100%;
    position: relative;
    bottom: 0px;
    color: White;
    background: #0088cc ;
  }

#contact {
    background-color: #e9ecef;
    margin-right: 15px;
}

#contact div {
    padding-left: 15px;
    padding-right: 15px;
}
