*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
  
.navbar {
    background-color: #222222;
}

#button div {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#button  div button{
  height: 100px;
  width: 100px;
}

#contact {
    background-color: #e9ecef;
    margin-right: 15px;
}

#contact div {
    padding-left: 15px;
    padding-right: 15px;
}
